@model WebApi.Entities.Teacher

@{
    ViewBag.Title = "Edit Teacher Record";

    @if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_SignInLayout.cshtml";
    }
    @if (!User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div id="editTchPage">

    <h2>Edit Teacher Record</h2>

    @using (Html.BeginForm("Update", "Teachers", FormMethod.Post, new { Teacher = Model }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.HiddenFor(model => model.ID, new { @id = "id", @Name = "id" })

            <div class="form-group">
                <span class="text-danger">* </span>@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <br />
            <div class="form-group">
                <span class="text-danger">* </span>@Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <br />
            <div class="form-group">
                <span class="text-danger">* </span>@Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <br />
            <div class="form-group">
                <span class="text-danger">* </span>@Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.RadioButtonFor(model => model.Gender, "Female", htmlAttributes: new { @class = "form-check-input", @Name = "teacherGender" }) Female
                    <br />
                    @Html.RadioButtonFor(model => model.Gender, "Male", htmlAttributes: new { @class = "form-check-input", @Name = "teacherGender" }) Male
                </div>
            </div>
            <br />
            <div class="form-group">
                <span class="text-danger">* </span>@Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Department, new List<SelectListItem>
               {
                    new SelectListItem{Text="Computer Science", Value="Computer Science"},
                    new SelectListItem{Text="Software Engineering", Value="Software Engineering"},
                    new SelectListItem{Text="Artificial Intelligence", Value="Artificial Intelligence"}
               }, htmlAttributes: new { @class = "form-select form-select-md-2" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <span class="text-danger">* </span>@Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Salary, "Salary Must be in Between 5000 and 15000", new { @class = "text-danger" })
                </div>
            </div>
            <br />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
    <br />
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>

<script src="~/js/SideMenu.js"></script>

<script>
    $(document).ready(link4);
</script>